--- SOURCE: class_tale_worlds_1_1_mount_and_blade_1_1_m_b_test_run.html ---

TaleWorlds.MountAndBlade.MBTestRun Class Reference|  |  |
| --- | --- |
| Static Public Member Functions | |
| static bool | [EnterEditMode](class_tale_worlds_1_1_mount_and_blade_1_1_m_b_test_run.html#a5cead00adf9c9db2049d4a9011a06d5a) () |
| static bool | [NewScene](class_tale_worlds_1_1_mount_and_blade_1_1_m_b_test_run.html#a0a4ccd2c1f69a453384a99b63ebd5197) () |
| static bool | [LeaveEditMode](class_tale_worlds_1_1_mount_and_blade_1_1_m_b_test_run.html#a4deb9064d0f7e5f69405d025a39df035) () |
| static bool | [OpenScene](class_tale_worlds_1_1_mount_and_blade_1_1_m_b_test_run.html#a53a179d7f0e7f9412c9e87fb24571c3f) (string sceneName) |
| static bool | [CloseScene](class_tale_worlds_1_1_mount_and_blade_1_1_m_b_test_run.html#af47e9a4cd41a1cd02eafcce003aadde1) () |
| static bool | [SaveScene](class_tale_worlds_1_1_mount_and_blade_1_1_m_b_test_run.html#aca080493087b0db5568c73b9b9efec7f) () |
| static bool | [OpenDefaultScene](class_tale_worlds_1_1_mount_and_blade_1_1_m_b_test_run.html#a69a174d1056a806c6ceee188748552d7) () |
| static int | [GetFPS](class_tale_worlds_1_1_mount_and_blade_1_1_m_b_test_run.html#a29aee742edba097ab04c8c9293155d85) () |
| static void | [StartMission](class_tale_worlds_1_1_mount_and_blade_1_1_m_b_test_run.html#afa3145ef93c09d31372c35cee5bc0a74) () |

Member Function Documentation
-----------------------------

[◆](class_tale_worlds_1_1_mount_and_blade_1_1_m_b_test_run.html#a5cead00adf9c9db2049d4a9011a06d5a)EnterEditMode()
-----------------------------------------------------------------------------------------------------------------

|  |  |  |  |  |  |  |
| --- | --- | --- | --- | --- | --- | --- |
| |  |  |  |  |  | | --- | --- | --- | --- | --- | | bool TaleWorlds.MountAndBlade.MBTestRun.EnterEditMode | ( |  | ) |  | | static |

[◆](class_tale_worlds_1_1_mount_and_blade_1_1_m_b_test_run.html#a0a4ccd2c1f69a453384a99b63ebd5197)NewScene()
------------------------------------------------------------------------------------------------------------

|  |  |  |  |  |  |  |
| --- | --- | --- | --- | --- | --- | --- |
| |  |  |  |  |  | | --- | --- | --- | --- | --- | | bool TaleWorlds.MountAndBlade.MBTestRun.NewScene | ( |  | ) |  | | static |

[◆](class_tale_worlds_1_1_mount_and_blade_1_1_m_b_test_run.html#a4deb9064d0f7e5f69405d025a39df035)LeaveEditMode()
-----------------------------------------------------------------------------------------------------------------

|  |  |  |  |  |  |  |
| --- | --- | --- | --- | --- | --- | --- |
| |  |  |  |  |  | | --- | --- | --- | --- | --- | | bool TaleWorlds.MountAndBlade.MBTestRun.LeaveEditMode | ( |  | ) |  | | static |

[◆](class_tale_worlds_1_1_mount_and_blade_1_1_m_b_test_run.html#a53a179d7f0e7f9412c9e87fb24571c3f)OpenScene()
-------------------------------------------------------------------------------------------------------------

|  |  |  |  |  |  |  |  |
| --- | --- | --- | --- | --- | --- | --- | --- |
| |  |  |  |  |  |  | | --- | --- | --- | --- | --- | --- | | bool TaleWorlds.MountAndBlade.MBTestRun.OpenScene | ( | string | *sceneName* | ) |  | | static |

[◆](class_tale_worlds_1_1_mount_and_blade_1_1_m_b_test_run.html#af47e9a4cd41a1cd02eafcce003aadde1)CloseScene()
--------------------------------------------------------------------------------------------------------------

|  |  |  |  |  |  |  |
| --- | --- | --- | --- | --- | --- | --- |
| |  |  |  |  |  | | --- | --- | --- | --- | --- | | bool TaleWorlds.MountAndBlade.MBTestRun.CloseScene | ( |  | ) |  | | static |

[◆](class_tale_worlds_1_1_mount_and_blade_1_1_m_b_test_run.html#aca080493087b0db5568c73b9b9efec7f)SaveScene()
-------------------------------------------------------------------------------------------------------------

|  |  |  |  |  |  |  |
| --- | --- | --- | --- | --- | --- | --- |
| |  |  |  |  |  | | --- | --- | --- | --- | --- | | bool TaleWorlds.MountAndBlade.MBTestRun.SaveScene | ( |  | ) |  | | static |

[◆](class_tale_worlds_1_1_mount_and_blade_1_1_m_b_test_run.html#a69a174d1056a806c6ceee188748552d7)OpenDefaultScene()
--------------------------------------------------------------------------------------------------------------------

|  |  |  |  |  |  |  |
| --- | --- | --- | --- | --- | --- | --- |
| |  |  |  |  |  | | --- | --- | --- | --- | --- | | bool TaleWorlds.MountAndBlade.MBTestRun.OpenDefaultScene | ( |  | ) |  | | static |

[◆](class_tale_worlds_1_1_mount_and_blade_1_1_m_b_test_run.html#a29aee742edba097ab04c8c9293155d85)GetFPS()
----------------------------------------------------------------------------------------------------------

|  |  |  |  |  |  |  |
| --- | --- | --- | --- | --- | --- | --- |
| |  |  |  |  |  | | --- | --- | --- | --- | --- | | int TaleWorlds.MountAndBlade.MBTestRun.GetFPS | ( |  | ) |  | | static |

[◆](class_tale_worlds_1_1_mount_and_blade_1_1_m_b_test_run.html#afa3145ef93c09d31372c35cee5bc0a74)StartMission()
----------------------------------------------------------------------------------------------------------------

|  |  |  |  |  |  |  |
| --- | --- | --- | --- | --- | --- | --- |
| |  |  |  |  |  | | --- | --- | --- | --- | --- | | void TaleWorlds.MountAndBlade.MBTestRun.StartMission | ( |  | ) |  | | static |

